
.DS_Store
Data/1976-2020-president.csv
Data/1976-2022-house.csv
Data/BEA - EDDs - Employment.csv
Data/BEA - EDDs - Personal Income.csv
Data/codebook-us-president-1976-2020.md
Data/national_presidential_polls.csv
Data/Population by Age and Sex - EDDs.csv
Data/Population by Race - EDDs.csv
Data/Turnout_2024G_v0.3.csv
Data/voter_turnout.csv
Reports/Stat_615_Fa_2024_project_rubric.pdf
